@model ISZR.Web.Models.Namjestaj

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Administracija/Views/Shared/_Layout.cshtml";

}

<h2>Obriši namještaj</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tipNamjestaja)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipNamjestaja)
        </dd>
    
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index" class="btn btn-default">Nazad</a>
    </form>
</div>
