@model IEnumerable<ISZR.Web.Models.Namjestaj>

@{
    ViewData["Title"] = "Namještaj";
    Layout = "~/Areas/Administracija/Views/Shared/_Layout.cshtml";

}
<br />
<h2>Sav namještaj</h2>
<hr />
<p>
    <a asp-action="Create" class="btn btn-default">Novi namještaj</a>
</p>



<div class="row">

    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="data:image;base64,@System.Convert.ToBase64String(item.Slika)" style="height:300px; width:200px"  />
                <div class="caption">
                    <h3>@item.Ime</h3>
                    <p>Info: @item.Opis</p>
                    <p>cijena: @item.Cijena KM</p>
                    <p>Je besplatan @(item.JeOsnovniNamjestaj?"DA":"NE")</p>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Opcije
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a>
                            </li>
                            <li>
                                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a>
                            </li>
                            <li>
                                <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@*
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cijena)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.tipNamjestaja)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Slika)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opis)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cijena)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.tipNamjestaja)
                    </td>
                    <td>
                        @if (item.Slika != null)
                        {
                            <img src="data:image;base64,@System.Convert.ToBase64String(item.Slika)" width="120" height="120" />

                        }
                        else
                        { <p>nema slike</p>}

                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
*@