@model ISZR.Web.Models.Hrana

@{
    ViewData["Title"] = "Obriši jelo";
    Layout = "~/Areas/Administracija/Views/Shared/_Layout.cshtml";

}

<h2>Obriši jelo</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cijena)
        </dd>
    </dl>
        
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Obriši" class="btn btn-default" /> |
        <a asp-action="Index" class="btn btn-default">Nazad</a>

    </form>
</div>
